    .text-field {
        -fx-border-radius: 3;
        -fx-background-color: white;
        -fx-background-radius: 5;
        -fx-accent: #767676;
        }
    .text-field:focused {
        -fx-border-radius: 3;
        -fx-background-color: white;
        -fx-background-radius: 5;
        -fx-background-insets: 0;
        }
    .button {
        -fx-background-insets: 0;
        -fx-border-color: #c8c8c8;
        -fx-cursor: hand;
        }
    .tree-view {
        -fx-font-family: 'Alegreya Sans SC';
        -fx-font-weight: 700;
        -fx-border-color: white;
    }
    .tree-cell {
        -fx-cursor: hand;
    }
    #logoPane {
        -fx-cursor: hand;
    }
    #workoutsSplitPane {
        -fx-border-color: #c8c8c8 transparent transparent #f4f4f4;
    }
    #workoutsMenuPane {
        -fx-background-color: white;
    }
    #hBox {
        -fx-background-color: white;
        -fx-border-color: #c8c8c8 transparent transparent transparent;
    }
    #alertBackgroundPane {
        -fx-background-color: #f4f4f4;
    }
    .workoutsLabel {
        -fx-border-color: #c8c8c8;
        -fx-border-radius: 3;
        -fx-background-color: white;
        -fx-background-radius: 5;
    }